<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mem">
	<select id="list" resultType="part02.dto.MemDTO">
		SELECT*FROM mem
		ORDER BY NUM
	</select>

	<insert id="memInsert" parameterType="part02.dto.MemDTO">
		INSERT INTO mem(num, name, age, loc)
		VALUES(mem_num_seq.nextval, #{name, jdbcType=VARCHAR}, #{age}, #{loc})
	</insert>

	<update id="memUpdate" parameterType="part02.dto.MemDTO">
		UPDATE mem set name=#{name},age=#{age},loc=#{loc}
		WHERE num=#{num} <!-- 수정# -->
	</update>

	<delete id="memDelete" parameterType="int">
		DELETE FROM mem
		WHERE num=#{num}
	</delete>

</mapper>